{% extends 'miliga/base_1.html' %}
{% load static %}
{% block css %}
<style type="text/css">
    .ficha_jugador {
      min-height: 264px;
    }

    .team-1:hover{
      cursor: pointer;
    }

    .ver_mas {
      color: #ee1e46;
      transition: 1s ease;
    }
    
    .team-1:hover .ver_mas {
      display: block; /* El texto aparecerá cuando el cursor esté en hover */
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
      transition: 1s ease;
      cursor: pointer;
    }
  
    .texto-multilinea {
        display: -webkit-box; /* Establece el elemento como un contenedor flexible */
        -webkit-box-orient: vertical; /* Establece la dirección de apilamiento vertical */
        overflow: hidden; /* Oculta el contenido que se sale del contenedor */
        -webkit-line-clamp: 2; /* Establece el número máximo de líneas */
      }
    h5 {
        color: black;
    }
</style>
{% endblock %}
{% block content %}
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
    aria-labelledby="modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label"><p>¿Está seguro de que deseas realizar esta acción?</p></h5>
                <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Si eliminas el equipo perderas todos los datos relacionados a el.</p>

                <div class="d-flex justify-content-between">
                    <div>
                        <form action="{% url 'miliga:delete_equipo' equipo.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary">Solo dar de baja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="bg-dark ">
    <div class="container pt-4">
        <div class="row align-items-end">
            <div class="col-lg-12 mx-auto text-center">
                {% if equipo.escudo_img %}
                <img src="{{equipo.escudo_img.url}}" alt="" height="300"
                    width="300">
                {% else %}
                <img src="{% static 'images/escudo_predeterminado.png'%}" alt=""
                    height="300" width="300">
                {% endif %}
                <h1 class="text-white pt-2">{{equipo.nombre}}</h1>
                <p>{{equipo.liga.nombre}}</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-dark">
    <div class="container text-center">
        <h3>Integrantes</h3>
        <div class="row">
            {% for jugador in jugadores %}
            <div class="col-lg-3 col-md-4 col-6 mb-4">
                <div class="bg-light p-4 rounded ficha_jugador">
                    <div class="team-1 text-center" data-id="{{jugador.id}}">
                        {% if jugador.jugador_img %}
                        <img src="{{jugador.jugador_img.url}}" alt="Image"
                            width="100"
                            height="100">
                        {% else %}
                        <img src="{% static 'images/jugador_predeterminado.png'%}"
                            alt="Image" width="100" height="100">
                        {% endif %}
                        <p class="mb-1 texto-multilinea">{{jugador.nombre}}</p>
                        <p class="mb-1 text-truncate">{{jugador.equipo}}</p>
                        <p class="ver_mas mb-0">Ver jugador</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-6">
                <a href="{%url 'miliga:create_jugador' equipo.id %}" class="btn
                    btn-primary
                    btn-lg btn-block">Nuevo jugador</a>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <a href="{%url 'miliga:edit_equipo' equipo.id%}" class="btn
                    btn-primary
                    btn-lg btn-block">Editar equipo</a>
            </div>
        </div>
    </div>
</div>

<div class="site-section bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 ">
                <a href="#" data-toggle="modal" data-target="#confirm-delete">Eliminar
                    equipo</a>
            </div>
        </div>
    </div>
</div>

<br>

<br>

{% endblock %}

{% block scripts %}
<script>

  $('.team-1').click(function () {
    var jugador_id = $(this).data('id');
    window.location.href = "{% url 'miliga:detail_jugador' 99999 %}" .replace('99999', jugador_id);
  });

  $('#confirm-delete').on('show.bs.modal', function(e) {
    $(this).find('form').attr('action', $(e.z).data('href'));
  });
  
  $('#confirm-delete button[type="submit"]').on('click', function(e) {
    $('#confirm-delete').modal('hide');
  });
  
  $('#confirm-delete').on('hidden.bs.modal', function(e) {
    $('#confirm-delete button[type="submit"]').off('click');
  });
  

</script>
{% endblock %}