{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Mi Liga</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'fonts/icomoon/style.css'  %}">
  <link rel="stylesheet" href="{%static 'css/bootstrap/bootstrap.css'  %}">
  <link rel="stylesheet" href="{%static 'css/jquery-ui.css'  %}">
  <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'  %}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'  %}">
  <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'  %}">
  <link rel="stylesheet" href="{%static 'css/jquery.fancybox.min.css'  %}">
  <link rel="stylesheet" href="{%static 'css/bootstrap-datepicker.css'  %}">
  <link rel="stylesheet" href="{%static 'fonts/flaticon/font/flaticon.css'  %}">
  <link rel="stylesheet" href="{%static 'css/aos.css'  %}">
  <link rel="stylesheet" href="{%static 'css/style.css'  %}">
  <style type="text/css">

    .hero, .hero > .container > .row {
      height: 11vh;
      min-height: 11vh; }
    .hero.overlay:before {
      height: 11vh;
      min-height: 11vh;
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
      
  </style>
  {% block css %}
  {% endblock %}
</head>

<body>

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar py-4" role="banner">

      <div class="container">
        <div class="d-flex justify-content-around w-100">
          <div class="site-logo">
            <a href="{% url 'miliga:index' %}">
              <img src="{% static 'images/miliga_sm.png'%}" alt="Logo">
            </a>
          </div>
          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li class="{% if zona == 'index' %}active{% endif %}"><a href="{% url 'miliga:index' %}" class="nav-link">Home</a></li>
                <li class="{% if zona == 'matches' %}active{% endif %}"><a href="{% url 'miliga:matches' %}" class="nav-link">Matches</a></li>
                <li class="{% if zona == 'posiciones' %}active{% endif %}"><a href="{% url 'miliga:posiciones' %}">posiciones</a></li>
                <li class="{% if zona == 'equipos' %}active{% endif %}"><a href="{% url 'miliga:equipos' %}">Equipos</a></li>
                <li class="{% if zona == 'jugadores' %}active{% endif %}"><a href="{% url 'miliga:jugadores' %}" class="nav-link">Jugadores</a></li>
                <li class="{% if zona == 'contacto' %}active{% endif %}"><a href="{% url 'miliga:contacto' %}" class="nav-link">Contacto</a></li>
                
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <span><img src="{% static 'images/usuario.png' %}" height="20" width="20" alt=""></span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">{{user.username}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'miliga:salir' %}">Cerrar Sesión</a>
                  </div>
                </li>
                {%else%}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    <span><img src="{% static 'images/usuario.png' %}" height="20" width="20" alt=""></span>
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'miliga:registrarse' %}">Crear usuario</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'miliga:iniciar_sesion' %}">Iniciar sesión</a>
                  </div>
                </li>
                {%endif%}

              </ul>
            </nav>

            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                class="icon-menu h3 text-white"></span></a>
          </div>
        </div>
      </div>

    </header>

    <div class="hero overlay" style="background-image: url({%static 'images/futbol_pasto.jpg'%});">
    </div>

    {% if mensaje %}
    <div class="alert alert-{{mensaje.tipo}} alert-dismissible fade show" role="alert">
      {{mensaje.desc}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

    
    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="widget mb-3">
              <h3>Secciones</h3>
              <div class="d-flex justify-content-between w-50">
                <div>
                  <ul class="list-unstyled links">
                    <li><a href="{% url 'miliga:index' %}">Home</a></li>
                    <li><a href="{% url 'miliga:matches' %}">Matches</a></li>
                    <li><a href="{% url 'miliga:posiciones' %}">Posiciones</a></li>
                  </ul>
                </div>

                <div>
                  <ul class="list-unstyled links">
                    <li><a href="{% url 'miliga:equipos' %}">Equipos</a></li>
                    <li><a href="{% url 'miliga:jugadores' %}">Jugadores</a></li>
                    <li><a href="{% url 'miliga:contacto' %}">Contacto</a></li>
                  </ul>
                </div>

              </div>


            </div>
          </div>
          <div class="col-md-6">
            <div class="widget mb-3">
              <h3>Contacto</h3>
              <ul class="list-unstyled links">
                <li><a href="https://www.linkedin.com/in/jaime-medrano-bernales/">Linkedin</a></li>
                <li><a href="{% url 'miliga:download_cv'%}">Curriculum</a></li>
                <li><a href="{% url 'miliga:contacto' %}">Enviar mensaje</a></li>
              </ul>
            </div>
          </div>

        </div>

        <div class="row text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              
              <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>
                  document.write(new Date().getFullYear());
                </script> All rights reserved | This template is made with <i class="icon-heart"
                  aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              </p>
              <p>
                <a href="https://www.flaticon.es/iconos-gratis/sobresalir" title="sobresalir iconos">Sobresalir iconos creados por Pixel perfect - Flaticon</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->

  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
  <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'js/jquery.sticky.js' %}"></script>
  <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>


  <script src="{% static 'js/main.js' %}"></script>

  <script>
    $(document).ready(function () {
      console.log("ready!");
    });
  </script>
  {% block scripts %}
  {% endblock %}

</body>

</html>