{% extends 'miliga/base_1.html' %}
{% load static %}
{% block css %}
<style type="text/css">
    .tit {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 80px;
        color: rgb(255, 255, 255);

    }
    .texto-multilinea {
        display: -webkit-box; /* Establece el elemento como un contenedor flexible */
        -webkit-box-orient: vertical; /* Establece la dirección de apilamiento vertical */
        overflow: hidden; /* Oculta el contenido que se sale del contenedor */
        -webkit-line-clamp: 2; /* Establece el número máximo de líneas */
      }
    .maximo{
        max-width: 50%;
    }

    .nom_equipo{
        width: 170px;
    }
        
    @media (max-width: 768px) {
        .nom_equipo {
          width: 120px;
        }
      }
    .resultado_conf{
        font-size: 18px;
        font-weight: bold;
    }
    .nom_equipo_table{
        max-width: 100px !important;
    }

</style>
{% endblock %}
{% block content %}

<div class="site-section bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="widget-next-match table-responsive">
                    <table class="table custom-table ">
                        <thead>
                            <tr>
                                <th>P</th>
                                <th>Equipo</th>
                                <th>JJ</th>
                                <th>JG</th>
                                <th>JE</th>
                                <th>JP</th>
                                <th>GF</th>
                                <th>GC</th>
                                <th>DF</th>
                                <th>PTS</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for equipo in equipos %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td class="nom_equipo_table"><strong class="text-white">{{equipo.nombre}}</strong></td>
                                <td>{{equipo.partidos_juados}}</td>
                                <td>{{equipo.partidos_ganados}}</td>
                                <td>{{equipo.partidos_empatados}}</td>
                                <td>{{equipo.partidos_perdidos}}</td>
                                <td>{{equipo.goles_a_favor}}</td>
                                <td>{{equipo.goles_en_contra}}</td>
                                <td>{{equipo.diferencia_goles}}</td>
                                <td>{{equipo.puntuacion}}</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="site-section bg-dark">
    <div class="container">
        {% for jornada in jornadas %}
        <div class="col-12 title-section">
            <h2 class="heading">Jornada {{jornada.numero}}</h2>
        </div>
        <div class="row justify-content-center">
            {% for partido in jornada.partido_set.all %}
                {%if partido.resultado_confirmado %}
                <div class="col-lg-12 mb-4">
                    <div class="bg-light p-1 rounded">
                        <div class="widget-body">
                            <div class="widget-vs d-flex flex-column flex-md-column flex-lg-row ">
                                <div class="d-flex justify-content-between w-100">
                                    <div class="team-1 text-center flex-grow-1 maximo d-flex justify-content-around">
                                        <h3 class="texto-multilinea nom_equipo">{{partido.equipo_local}}</h3>
                                        <span class="resultado_conf">{{partido.goles_local}}</span>
                                    </div>
                                    <div>
                                        <span class="flex-grow-1 maximo"><span>VS</span></span>
                                    </div>
                                    <div class="team-2 text-center flex-grow-1 maximo d-flex justify-content-around">
                                        <span class="resultado_conf">{{partido.goles_visitante}}</span>
                                        <h3 class="texto-multilinea nom_equipo">{{partido.equipo_visitante}}</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                {%endif%}
            {%endfor%}
        </div>
        {%endfor%}



    </div>
</div>

{% endblock %}
